
:host {
    --config-aside-bg: #333;
    --config-aside-color: #fff;
    --config-aside-icons-color: #fff;
    --config-aside-icons-hover-color: #999;
    
    --config-aside-header-height: 50px;
    --config-aside-padding: 10px;
    --config-aside-width: 400px;
    --config-aside-content-gap: 30px;
}
:host .config-aside {
    width: var(--config-aside-width);
	height: 100%;
	padding: var(--config-aside-padding);

    display: flex;
    flex-direction: column;

	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 2000;

	background-color: var(--config-aside-bg);
	color: var(--config-aside-color);
    border-left: var(--config-aside-border);
    box-shadow: var(--config-aside-shadow);

	translate: 100% 0;
	transition: translate 0.2s ease-in-out;

	.config-aside-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: 1em;
	}
    .config-aside-body {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        overflow: hidden;

        .config-aside-content {
            flex-grow: 1;
            overflow-y: auto;

            display: flex;
            flex-direction: column;
            gap: var(--config-aside-content-gap);
        }
        .config-aside-footer {

        }
    }
}
:host([open]) .config-aside {
	translate: 0 0;
}
:host button {
	background: transparent;
	border: none;
	cursor: pointer;
	padding: 10px;
	color: var(--config-aside-icons-color, #fff);
	transition: color 0.2s ease-in-out;

	width: var(--config-aside-icons-size, 40px);
	height: var(--config-aside-icons-size, 40px);

	&:hover {
		color: var(--config-aside-icons-hover-color, #999);
	}
	.icon {
		width: 100%;
		height: 100%;
	}
	.icon ::slotted(svg) {
		display: block;
		width: 100%;
		height: 100%;
	}
}
:host .close-aside-button {
}
:host .open-aside-button {
	--config-aside-icons-size: 50px;

	& .icon {
		transition: rotate 0.2s ease-in-out;
	}
	&:hover .icon {
		rotate: 45deg;
	}
}
